@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--main-bg-color: #121212;
	--main-color: #e0e0e0;
	--accent-color: #00c4b4;
	--second-color: #444444;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;

	-webkit-tap-highlight-color: transparent;
}

ul,
ol,
li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

a {
	text-decoration: none;
	color: inherit;
	user-select: none;
}

a,
button {
	cursor: pointer;
}

html,
body {
	height: 100%;
	background-color: var(--main-bg-color);
	color: var(--main-color);
	/* font-family: $font-main; */
	font-weight: 400;
	font-style: normal;

	scroll-behavior: smooth;
}

::selection {
	background-color: rgba(255, 255, 255, 0.8);
	color: var(--main-bg-color);
}

::-webkit-scrollbar {
	width: clamp(5px, 1vw, 7px);
	height: clamp(5px, 1vw, 7px);
	background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb {
	background-color: var(--main-color);
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	transition: 0.3s ease;

	&:hover {
		background-color: rgba(255, 255, 255, 0.5);
	}
}

/* :active,
:hover,
:focus {
	outline: 0;
} */

.user-select-none {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

p {
	text-align: center;
	font-family: sans-serif;
	font-size: 0.8rem;
	letter-spacing: 1px;
}

button,
.import-file {
	min-width: 100px;
	border: 1px solid rgb(160 160 160);
	padding: 8px 10px;
	color: var(--main-bg-color);
	border-radius: 10px;
	background-color: var(--main-color);

	display: inline-block;
	text-align: center;
	cursor: pointer;
	font-family: 'Kanit', sans-serif;
	font-size: small;
}

input {
	min-width: 100px;
	border: 1px solid rgb(160 160 160);
	padding: 8px 10px;
	color: var(--main-bg-color);
	transition: 0.3s ease;
	border-radius: 10px;
	background-color: var(--main-color);
}

.q_commands {
	min-width: 100px;
	border: 1px solid rgb(160 160 160);
}

[class*='__container'] {
	margin: 0 auto;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.table__container {
	overflow: auto;
	width: 100%;
	width: 100%;
}

.table__container {
	overflow: auto;
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: column;
}

table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	margin: 0;
	padding: 0;

	tr {
		display: flex;
		width: 100%;
		min-height: 40px;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		margin: 0;
		padding: 0;

		&:nth-child(odd) {
			background-color: var(--second-color);
		}
	}

	td {
		padding: 0;
		margin: 0;
	}

	td:first-child {
		width: 50px;
		flex: 0 0 50px;
	}

	td:not(:first-child) {
		flex: 1;
	}

	input {
		width: 100%;
		height: 100%;
		min-width: 100px;
		min-height: 30px;
		border-radius: 0;
		border: none;
		padding: 0;
		margin: 0;
		color: var(--main-color);
		background-color: inherit;
		transition: 0;
		display: block;

		text-align: center;

		height: calc(2.25rem + 2px);
		font-size: large;

		&:focus {
			outline: 0;
		}
	}
}
