<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Turing Machine</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
	<div class="wrapper">
		<main class="main">
			<div class="main__container">
				<div class="main__block">
					<div class="main__control-panel">
						<form onsubmit="event.preventDefault(); generate_table()">
							<input type="text" name="input" id="size" class="input" placeholder="size" />
							<input type="text" name="" id="T" value="1&-+" placeholder="T-alphabet" />
							<button type="submit">Create table</button>
						</form>

						<button onclick="add_row()">Add</button>
						<button onclick="remove_row()">Remove</button>

						<form>
							<input type="file" id="file" accept=".json" onchange="from_file()" />
						</form>

						<button type="submit" onclick="write_and_download()">Export</button>

						<input type="text" id="input_tape" value="'q0'111+11-11" />
						<input type="text" id="num_steps" placeholder="Max steps" />
						<button type="submit" onclick="run()">Start</button>

						<div class="table__container">
							<table id="table"></table>
						</div>
					</div>
				</div>

				<div class="main__block">
					<div class="output__container">
						<h2 class="output__title">Output:</h2>
						<div id="output"></div>
					</div>
				</div>
			</div>
		</main>
</body>
</div>
<script src="{{url_for('static', filename='script.js')}}"></script>

</html>